/* @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Press+Start+2P&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Press+Start+2P&family=Roboto:wght@300&family=Ubuntu:wght@300;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEF5FF;
    font-family: 'Ubuntu', sans-serif;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    border-radius: 10px;
    gap: 4rem;
    padding: 1rem;
    width: 60%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 65%;
}

ul li {
    list-style: none;
    display: flex;
    gap: 1rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    padding-top: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.personal-text {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.personal-text .info-text{
    color: grey;
    font-size: 17px;
    
}
.personal-text .info {
    font-size: 2.5rem;
     letter-spacing: 1px;
     color: #022453;
 }

.aside-bar {
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    display: flex;
    background-position: center bottom;
    object-fit: fill;
    border-radius: 10px;
    width: 50%;
    color: white;
}
::placeholder{
    color: #97989a;
    font-size: 15px;
}
input {
    padding: 0.7rem;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-color: #bebfc1;
    border-radius: 8px;
    height: 40px;
}

.input-btn {
    margin-top: 4.5rem;
    align-self: flex-end;
    cursor: pointer;
}


.steps {
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    height: 31px;
    width: 31px;
    text-align: center;
}

.individual-step span {
    font-size: 13px;
    color: #a2a2f5;
}

.individual-step p {
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 1px;
}

.individual-step {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.personal-text p {
    font-size: 15.5px;
}

/* #btn {
    padding: 0.7rem 1rem;
    background-color: #03295A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* border: none;
    outline: none; 
    border-radius: 5px;
} */

label {
    color: #356098;
    font-weight: bold;
    
}

.label-container {
    display: flex;
    justify-content: space-between;

}

.error-message {
    font-size: 12px;
    color: red;
    font-weight: bold;
}


/* pricing section */

.pricing-section {
    display: none;
    flex-direction: column;
    gap: 7rem;
    width: 100%;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.price-error {
    color:red;
    display: none;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.price-select-container {
    display: flex;
    gap: 1rem;

}

.plan-text {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.plan-text p {
    color: #97989a;
}

.price-card-container {
    display: flex;
    border: 1px solid #97989a;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

}
.card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.price-plan .price-type {
    color: #03295A;
    font-weight: bold;
}
.price-plan {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 14px;
    color: #022453;
    font-weight: bold;
}
.price-plan span {
    color: #97989a;
    font-size: 13px;
}
.plan-text h1 {
    font-weight: 900;
    letter-spacing: 1px;
    color: #022453;
}

/* TOggle button */


.toggle-container {
    display: flex;
    color: #B5B4C2;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FE;
    padding: 0.7rem;

}

.toggle-selector {
    display: flex;
    width: 2.8rem;
    cursor: pointer;
    background-color: #042959;
    margin: 0 1.2rem;
    border-radius: 20px;
    padding: 0.1rem;
}


.toggle-ball {
    width: 1rem;
    height: 1rem;
    margin: 2px;
    background-color: white;
    border-radius: 50%;

}
.select-monthly {
    font-size: 13px;
    font-weight: bold;
}

.select-annually {
    font-size: 13px;
    font-weight: bold;
}





/* price-button */

.price-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-button-container-2 {
    display: flex;
    justify-content: space-between;
}

.price-button-container-3 {
    display: flex;
    justify-content: space-between;
}

.go-back {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.7rem 1rem;
    font-weight: bold;
    color: #ADAEB3;
    font-size: 16px;
    cursor: pointer;

}

.go-back:hover {
    color: #03295A;
}


.price-card-container.selected {
    border: 2px solid #6561c1;
}


.price-card-container:hover {
    border: 2px solid #6561c1;
}


.price-btn[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}


.price-btn {
    background-color: #03295A;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem 1.2rem;
}


/*  Add on section */

.add-on-section {
    display: none;
    flex-direction: column;
    gap: 7rem;
    width: 100%;
    padding: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;

}

.add-on-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.add-on-select-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.add-on {
    display: flex;
    justify-content: space-between;
    border: 1px solid #97989a;
    padding: 1rem;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.check-container {
    display: flex;
    gap: 2rem;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

.add-on:hover {
    border: 1px solid #6561c1;
}

.add-on-text p {
    color: #03295A;
    font-weight: bold;
}

.add-on-text span {
    color: #adadb0;
    font-weight: bold;
    font-size: 13px;
}

.pick-plan {
    color: #5a55be;
    font-size: 15px;
    font-weight: bold;
}

#add-btn {
    padding: 0.7rem 1rem;
    background-color: #03295A;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}


.add-on .addon-checkbox:checked {
    background-color: #5C58D7;
}

/*  summary section styles */

.summary-section {
    display: none;
    flex-direction: column;
    gap: 7rem;
    width: 100%;
    padding: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.summary-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.selected-plan-1 {
    display: flex;
    justify-content: space-between;
}

.selected-plan {
    display: flex;
    justify-content: space-between;
}

.final-payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #F8F9FE;
    padding: 1.5rem;
    border-radius: 10px;
}

.finish-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.total-amount {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

hr {
    opacity: 0.3;
}

.finish-check {
    color: #adadb0;
    font-weight: bold;
    font-size: 13px;
}


.selected-plan-1 .amount-1 {
    color: #022453;
    font-size: 13px;
}

.selected-plan .amount {
    color: #022453;
    font-size: 13px;
}

.checking {
    color: #022453;
    font-size: 16px;
}

.amount-fix {
    font-weight: bolder;
    font-size: 22px;
}

.change {
    color: #adadb0;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.change:hover {
    color: #483BD8;
}

.change-payment-1 {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.change-payment {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.total-amount p {
    color: #adadb0;
    font-weight: bold;
}

.total-amount .final-total-amount {
    color: #483BD8;
    font-weight: bold;
}

#confirm {
    padding: 0.7rem 1rem;
    background-color: #483EFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;

}

.year-bonus {
    display: none;
    color: #03295A;
    font-weight: bold;
    font-size: 5px;
}



/* Thank you Section */

.thank-you-section {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem;
    height: 60vh;
    flex-shrink: 1.5;
    text-align: center;
}

.thank-you-message {
    line-height: 24px;
    color: #adadb0;
    font-weight: bold;
}
#next-button {
    margin-top: 4rem;
}

/* Responsive view */

@media all and (max-width:760px) {

    body {
        background-color: #ffffff;
    }

    .main-container {
        display: flex;
        width: 100%;
        align-items: baseline;
      height: 200%;
        margin: 0;
    }

    .info-text {
        line-height: 1.5rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0rem;
        width: 100%;
        justify-content: center;
        background-color: #EDF4FE;
        padding-bottom: 7.5rem;
        box-shadow: none;
        align-items: center;


    }

    .label-container {
        display: flex;
        flex-direction: column;
        gap: 0.59rem;
    }

    .aside-bar {
        background-image: url(./assets/images/bg-sidebar-mobile.svg);
        display: flex;
        border-radius: 0px;
        width: 100%;
        justify-content: center;
        color: white;
    }


    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        padding-bottom: 5rem;
        gap: 0.9rem;
    }

    .individual-step {
        display: none;
        justify-self: center;

    }

    .main-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 1.5rem;
        padding-top: 2rem;
        margin-top: -5.7rem;
        height: 100%
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 60%;
        justify-content: center;

    }


     #next-button {
        margin-top: 0rem;
    } 

    .btn {
        padding: 1rem;
    }

   


    /* pricing styles step 2*/
    .pricing-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 1.5rem;
        margin: 1rem;
        padding-top: 2rem;
        margin-top: -5.7rem;
       
    }

    .price-error {
        margin:0 0.1rem;
        font-size: 14px;
    }

    .price-select-container {
        display: flex;
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .price-button-container {
        position: fixed;
        bottom: 0;
        padding: 1rem;
        width: 100%;
        right: 3px;
        background-color: white;
        padding-bottom: 2rem;
    }

    .price-button-container-2 {
        position: fixed;
        bottom: 0rem;
        padding: 1rem;
        width: 100%;
        right: 3px;
        background-color: white;
        padding-bottom: 2rem;
    }

    .toggle-container {
        margin-bottom: 1rem;
    }


    /*  add-on- section */

    .add-on-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 1.5rem;
        margin: 1rem;
        padding-top: 2rem;
        margin-top: -5.7rem;
       
    }


    .check-container {
        gap: 0.8rem;
    }


    /* summary-section */

    .summary-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 1.5rem;
        margin: 1rem;
        padding-top: 2rem;
        margin-top: -5.7rem;

    }

    .price-button-container-3 {
        position: fixed;
        bottom: 0rem;
        padding: 1rem;
        width: 100%;
        right: 3px;
        padding-bottom: 2rem;
        background-color: white;
    }

    /* thank you section */

    .thank-you-section {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        margin: 1rem;
        margin-top: -5.7rem;
        padding: 5rem 1.5rem;
        text-align: center;
    
    }

    .thank-you-message {
        text-align: center;

    }
}


/* Responsive part 2 */

@media (max-width:759px) and (min-width:420px) {
    ul {
        padding-bottom: 10rem;
    }
   

    .main-section {
        margin-top: -7.8rem;
    }

    .pricing-section {
        margin-top: -7.8rem;
    }

    .input-button {
        align-self: flex-end;
        position: fixed;
        justify-content: center;
        bottom: 2vh;

    }

    .add-on-section {
        margin-top: -7.8rem;
    }

    .summary-section {
        margin-top: -7.8rem;
    }

    /* .container {
        padding-bottom: 1rem;
    } */

    .thank-you-section {
        margin-top: -7.8rem;
    }

}

